\documentclass{article}
\usepackage{fontspec}
\usepackage{amsmath}
\usepackage{amssymb}
\usepackage{booktabs}
\usepackage{longtable}
\usepackage{adjustbox}
\usepackage{geometry}
\usepackage{xcolor}
\usepackage{graphicx}
\usepackage{float}
\geometry{a4paper,margin=2cm}
\begin{document}
\section*{Class Report<<header_extra>>}
\textbf{Class average: <<class_avg_display>>} \quad
\textbf{Max marks: <<total_max_marks>>} \quad
<%- if n_students is not none %>\textbf{Students: <<n_students>>} \quad <%- endif %>
<%- if median_pct is not none %>\textbf{Median: <<median_pct>>\%} \quad
\textbf{Range: <<min_pct>>\%--<<max_pct>>\%} \quad <%- endif %>
\textcolor{gray}{\small <<date_str>>}
\vspace{1em}

<%- if histogram_raw_path or histogram_curved_path %>
\subsection*{Grade distribution}
\begin{figure}[H]
  \centering
<%- if histogram_raw_path and histogram_curved_path %>
  \begin{minipage}[t]{0.48\textwidth}\centering
    \includegraphics[width=\linewidth]{<<histogram_raw_path>>}
  \end{minipage}\hfill
  \begin{minipage}[t]{0.48\textwidth}\centering
    \includegraphics[width=\linewidth]{<<histogram_curved_path>>}
  \end{minipage}
<%- elif histogram_raw_path %>
  \includegraphics[width=0.5\textwidth]{<<histogram_raw_path>>}
<%- elif histogram_curved_path %>
  \includegraphics[width=0.5\textwidth]{<<histogram_curved_path>>}
<%- endif %>
\end{figure}

<%- endif %>
<%- if difficulty_path %>
\subsection*{Question difficulty}
\begin{figure}[H]
  \centering
  \includegraphics[width=0.7\textwidth]{<<difficulty_path>>}
\end{figure}

<%- endif %>
\clearpage
\subsection*{Student Rankings}
{\small
\begin{adjustbox}{max width=\textwidth, max totalheight=0.85\textheight}
\begin{tabular}{rlrrr}
\toprule
\textbf{Rank} & \textbf{Student} & \textbf{Marks} & \textbf{Percentage} & \textbf{Curved} \\
\midrule
<<student_rows_str>>
\bottomrule
\end{tabular}
\end{adjustbox}}

<%- if top_q_rows_str %>

\vspace{1.5em}
\subsection*{Top-level Exercise Rankings (hardest first)}
{\small
\begin{adjustbox}{max width=\textwidth, max totalheight=0.85\textheight}
\begin{tabular}{lrrr}
\toprule
\textbf{Question} & \textbf{Max} & \textbf{Class Avg} & \textbf{Class Avg \%} \\
\midrule
<<top_q_rows_str>>
\bottomrule
\end{tabular}
\end{adjustbox}}

<%- endif %>
\clearpage
\subsection*{Exercise Rankings (hardest first; all parts)}
{\small
\begin{adjustbox}{max width=\textwidth, max totalheight=0.85\textheight}
\begin{tabular}{lrrr}
\toprule
\textbf{Question} & \textbf{Max} & \textbf{Class Avg} & \textbf{Class Avg \%} \\
\midrule
<<q_rows_str>>
\bottomrule
\end{tabular}
\end{adjustbox}}
\end{document}
