\documentclass{article}
\usepackage{fontspec}
\usepackage{amsmath}
\usepackage{amssymb}
\usepackage{booktabs}
\usepackage{longtable}
\usepackage{adjustbox}
\usepackage{geometry}
\usepackage{xcolor}
\usepackage{graphicx}
\usepackage{float}
\geometry{a4paper,margin=2cm}
\begin{document}
\pagenumbering{Roman}
\section*{Class Report<<header_extra>>}
\noindent\textcolor{gray}{\small \mbox{<<date_str>>}}\\[0.5em]
\noindent
<%- if n_students is not none %>\textbf{Students: <<n_students>>} \quad <%- endif %>
\textbf{Class average: <<class_avg_display>>} \quad
<%- if median_pct is not none %>\textbf{Median: <<median_pct>>\%} \quad
\textbf{Range: <<min_pct>>\%--<<max_pct>>\%} \quad <%- endif %>
\textbf{Max marks: <<total_max_marks>>}
\vspace{1em}

<%- if histogram_raw_path or histogram_curved_path %>
\subsection*{Grade distribution}
\vspace{-1em}
\begin{figure}[H]
  \centering
<%- if histogram_raw_path and histogram_curved_path %>
  \begin{minipage}[t]{0.48\textwidth}\centering
    \includegraphics[width=\linewidth]{<<histogram_raw_path>>}
  \end{minipage}\hfill
  \begin{minipage}[t]{0.48\textwidth}\centering
    \includegraphics[width=\linewidth]{<<histogram_curved_path>>}
  \end{minipage}
<%- elif histogram_raw_path %>
  \includegraphics[width=0.5\textwidth]{<<histogram_raw_path>>}
<%- elif histogram_curved_path %>
  \includegraphics[width=0.5\textwidth]{<<histogram_curved_path>>}
<%- endif %>
\end{figure}

<%- endif %>
<%- if difficulty_path or difficulty_top_path %>
\subsection*{Question difficulty}
\vspace{-1em}
\begin{figure}[H]
  \centering
<%- if difficulty_path and difficulty_top_path %>
  \begin{minipage}[t]{0.49\textwidth}\centering
    \includegraphics[width=\linewidth]{<<difficulty_path>>}
  \end{minipage}\hfill
  \begin{minipage}[t]{0.49\textwidth}\centering
    \includegraphics[width=\linewidth]{<<difficulty_top_path>>}
  \end{minipage}
<%- elif difficulty_path %>
  \includegraphics[width=0.7\textwidth]{<<difficulty_path>>}
<%- elif difficulty_top_path %>
  \includegraphics[width=0.7\textwidth]{<<difficulty_top_path>>}
<%- endif %>
\end{figure}

<%- endif %>
\clearpage
\noindent
\begin{minipage}[t]{0.45\textwidth}
\subsection*{Student Ranking}
{\small
\begin{adjustbox}{max width=\linewidth, max totalheight=0.4\textheight}
\begin{tabular}{rlrrr}
\toprule
\textbf{Rank} & \textbf{Student} & \textbf{Marks} & \textbf{Percentage} & \textbf{Curved} \\
\midrule
<<student_rows_str>>
\bottomrule
\end{tabular}
\end{adjustbox}}

<%- if top_q_rows_str %>

\vspace{1.5em}
\subsection*{Exercise Ranking: Overview}
{\small
\begin{adjustbox}{max width=\linewidth, max totalheight=0.5\textheight}
\begin{tabular}{lrrr}
\toprule
\textbf{Question} & \textbf{Max} & \textbf{Class Avg} & \textbf{Class Avg \%} \\
\midrule
<<top_q_rows_str>>
\bottomrule
\end{tabular}
\end{adjustbox}}

<%- endif %>
\end{minipage}\hfill
\begin{minipage}[t]{0.45\textwidth}
\subsection*{Exercise Ranking: Detailed}
{\small
\begin{adjustbox}{max width=\linewidth, max totalheight=0.95\textheight}
\begin{tabular}{lrrr}
\toprule
\textbf{Question} & \textbf{Max} & \textbf{Class Avg} & \textbf{Class Avg \%} \\
\midrule
<<q_rows_str>>
\bottomrule
\end{tabular}
\end{adjustbox}}
\end{minipage}
\end{document}
