\documentclass[11pt]{article}
\usepackage{fontspec}
\usepackage{amsmath}
\usepackage{amssymb}
\usepackage{geometry}
\usepackage{xcolor}
\usepackage{adjustbox}
\usepackage{enumitem}
\usepackage{alltt}
\geometry{a4paper,margin=1.5cm}
\begin{document}
\section*{Exam Questions<<header_extra>>}
\textcolor{gray}{\small <<date_str>>}
\vspace{1em}

<<body>>

\end{document}
