\documentclass[11pt]{article}
<% include '_student_report_preamble.tex.j2' %>
\geometry{a4paper,margin=1.5cm}
\begin{document}
<%- if class_avg_pct is not none and percentage is not none %>
\reportheader{Student Report (list view): <<name>><<header_extra>>}{Total: <<total>>/<<max_m>> (<<summary_text>>)}{<<percentage>>}{<<class_avg_pct>>}{<<date_str>>}
<%- else %>
\reportheaderbasic{Student Report (list view): <<name>><<header_extra>>}{Total: <<total>>/<<max_m>> (<<summary_text>>)}{<<date_str>>}
<%- endif %>

<<body>>

\end{document}
